<% unless @res2.nil? %>
<!-- <Post::ActiveRecord_Relation> to <Post::> using .first -->
    <% @res2.each do |x| %>
        <h3>Title : <%= x.first.title %></h3>
        <h3>Context : <%= x.first.context %></h3>
        <p/>&nbsp;<p/>
    <% end %>
<% else %>
    <p>There is no results.</p>
<% end %>